*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

.body {
    width: 100%;
    background: rgba(173, 216, 230, 0.986);
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(246, 246, 248, 0.99);
}

.left__column {
    width: 40%;
    background-color: rgba(37, 37, 85, 1);;
    padding: 0 50px;
}

.right__column {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(246, 246, 248, 0.493);;
    padding: 0 50px;

}

.header {
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(84, 6, 228, 0.2);
}

.nav__list {
    position: absolute;
    text-align: right;
}

.nav__list li {
    color: #333333;
}

.header__photo {
    position: relative;
    margin: 20px;
}

.header__photo .photo {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.header__photo .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title1 {
    margin-top: 20px;
    font-size: 45px;
    text-transform: capitalize;
    text-align: left;
    font-weight: 600;
    color: #333333;
}

.header h2 {
    margin-top: 10px;
    color: #333333;
    font-size: 25px;
    text-transform: capitalize;
    text-align: left;
    font-weight: 300;
}

.main {
    display: flex;
}

.contact__info h3 {
    margin: 20px 0;
    color: rgba(248, 238, 219, 0.945);
    text-transform: uppercase;
    font-weight: 600px;
    letter-spacing: 1px;
}

.contact__info ul {
    position: relative;
}

.contact__info ul li {
    position: relative;
     margin: 10px 0;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.99);
    font-weight: 300;
}

.skills__info h3 {
    margin: 20px 0;
    color: rgba(248, 238, 219, 0.945);
    text-transform: uppercase;
    font-weight: 600px;
}

.skills__info ul {
    position: relative;
}

.skills__info ul li {
    position: relative;
     margin: 10px 0;
    color: rgba(255, 255, 255, 0.99);
    font-weight: 300;
}

.languages h3 {
    margin-bottom: 20px 0;
    color: rgba(248, 238, 219, 0.945);
    text-transform: uppercase;
    font-weight: 600px;
    letter-spacing: 1px;
}

.languages ul {
    position: relative;
}

.languages ul li {
    position: relative;
     margin: 10px 0;
    color: rgba(255, 255, 255, 0.99);
    font-weight: 300;
}
.title2 { 
    margin-bottom: 10px;
    color: rgba(43, 29, 95, 1);
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    color: #333333;
}

.profile {
    margin-top: 20px;
    position: relative;
    color: #333333;
    font-weight: 300;
}

.code {
    position: relative;
    margin-top: 20px;
    color: #333333;
    font-weight: 300;
}

.education {
    position: relative;
    margin-top: 10px;
    color: #333333;
    font-weight: 300;
}

.interest {
    position: relative;
    margin-top: 20px;
    color: #333333;
    font-weight: 300;
   padding-bottom: 50px;
}

.interest__container {
    display: flex;
    align-items: center;
}

.row__interest {
    width: 50%;
}

.row__interest p {
    margin-bottom: 20px;
    color: #333333;
    font-weight: 300;
}

.footer {
    background-color: rgba(113, 120, 190, 0.836);
}

.footer__links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-align: center;
    padding-top: 10px;
}

 .footer__date {
   position: relative;
   text-align: center;
   font-weight: 500;
   padding-bottom: 10px;
 }